.Main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
}

.Main-header {
  background-color: #fff;
  height: 100px;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: space-between;
  
  &__box {
    width: calc(100vw - 300px);
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    &--group{
      width: 500px;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 35px 0px 15px 40px;
      &__name{
        width: 500px;
        height: 30px;
        font-size: 20px;
        color: #333333;
      }
    }
    //中の上の左下
    &--under-group{
      width: 500px;
      height: 20px;
      margin-left: 40px;
      &__member{
        font-size: 12px;
        color: #999999;
      }
    }
  }
  //中の上の右
  &__right{
    width: 112px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    &--box{
      width: 72px;
      height: 40px;
      margin: 28px 40px 0px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #38aef0;
      &__edit_box{
        width: 32px;
        height: 40px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        &__btn{
          font-size: 16px;
          color: #38eaf0;
        }
      }
    }
  }
}
.Edit__btn{
  text-decoration: none;
}


.Message-folder {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow: scroll;
  &__name_box{
    height: 30px;
    width: 100%;
    margin-top: 35px;
    margin-left: 40px;

    &__left{
      width: 100%;
      height: 24px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &--user{
        font-size: 16px;
        font-weight: bold;
        color: #333333;
      }
    }
    &__right{
      font-size: 12px;
      color: #999999;
      padding-left: 10px;
    }
  }
  &__comment_box{
    font-size: 14px;
    color: #434a54;
    margin-top: 12px;
    margin-left: 40px;
  }
}

//中の下
.Footer {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;

  form {
    display: flex;
    .input-box {
      display: flex;
      position: relative;
      width: 100%;
      &__text {
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        padding: 0 40px 0 10px;
      }
      &__image {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;

        &__file{
          display: none;
        }
      }
    }
    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: #fff;
      cursor: pointer;
    }
  }
}
